#picker {
    cursor: pointer;
    border: 1px solid #eaeaea;
    position: relative;
}

.colpick-popup {
    width: 256px;
    height: 256px;
    position: absolute;
    top: 0;
    left: 20px;
}

.colpick-select {
    position: absolute;
    top: -5px;
    left: -5px;
    background: url('../img/colorpicker_select.gif') no-repeat;
    width: 11px;
    height: 11px;
    overflow: hidden;
}