#picker {
    cursor: pointer;
    border: 1px solid #eaeaea;
    position: relative;
}

.colpick-popup {
    width: 200px;
    height: 150px;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 20px;
    background: #eaeaea;
    border: 1px solid #adadad;
}